<!--  
  
<p>Hola mundo</p>

<p>{{title}}</p>

<p>El apelldio de Felipe es {{apellido}} y su edad es {{edad}}</p>

<p>La suma de 2 y 2 es {{2 + 2}}</p>

<p>El doble de 2 es: {{duplicarNumero(2)}}</p>

-->

<!-- Referecnias elementos html con otro elemento elemento con un identificador y asignarle un evento
 
<input type="file" style="display: none;" #cargadorArchivos>


<button (click)="cargadorArchivos.click()">Cargar archivo </button>

-->

<h2>En cines</h2>

<app-listado-peliculas [peliculas]="peliculasEnCines"></app-listado-peliculas>

<h2>Próximos Estrenos</h2>

<app-listado-peliculas [peliculas]="peliculasProximosEstrenos"></app-listado-peliculas>
