<!--  
  
<p>Hola mundo</p>

<p>{{title}}</p>

<p>El apelldio de Felipe es {{apellido}} y su edad es {{edad}}</p>

<p>La suma de 2 y 2 es {{2 + 2}}</p>

<p>El doble de 2 es: {{duplicarNumero(2)}}</p>

-->

<!-- Referecnias elementos html con otro elemento elemento con un identificador y asignarle un evento
 
<input type="file" style="display: none;" #cargadorArchivos>


<button (click)="cargadorArchivos.click()">Cargar archivo </button>

-->

<app-menu></app-menu>

<!--
<app-rating [maximoRating]="5" (votado)="procesarVoto($event)"></app-rating>

<button mat-flat-button class="primary">Primary</button>
<button mat-flat-button class="secondary">Secondary</button>
<button mat-flat-button class="warn">Warn</button>
-->

<div class="contenedor">
  <router-outlet></router-outlet>
</div>